-f /usr/share/pip-wheels
alembic==1.7.4
bcrypt==3.2.0
cffi==1.15.0
click==8.0.1
dynaconf==3.1.7
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
flaskstarter==0.4
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
mysqlclient==2.0.3
pycparser==2.20
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
Werkzeug==2.0.2
