footer {
  position: static;
  background: #2f4f4f;
  height: auto;
  width: 100%;
  font-family: Times new romas;
  padding-top: 40px;
  color: #66cdaa;
}
.footer-content {
  display: flex;
  align-items: center;
  justicify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 25px;
}
.socials a i {
  color: #66cdaa;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}
.socials a:hover i {
  color: black;
}
.footer-bottom {
  background: #5f9ea0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
/*FINALIDADE CAMPANHAS*/
body, html {
  height: 100%;
}

.campanha-bg-image {
  background-image: url("../img/Campanhas_13.jpg");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.campanha-bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}