footer {
  position: static;
  background: #2f4f4f;
  height: auto;
  width: 100%;
  font-family: Times new romas;
  padding-top: 40px;
  color: #66cdaa;
}
.footer-content {
  display: flex;
  align-items: center;
  justicify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 25px;
}
.socials a i {
  color: #66cdaa;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}
.socials a:hover i {
  color: black;
}
.footer-bottom {
  background: #5f9ea0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
/*FINALIDADE CAMPANHAS*/
body, html {
  height: 100%;
}

.campanha-bg-image {
  background: url("/static_cam/campanhas/img/Campanhas_7.jpg");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.campanha-bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.cards {
  width: 400px;
  height: 300px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.cards:hover {
  transform: translateY(20px);
}

.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.cards:hover:before {
  opacity: 1;
}

.cards img {
  width: 100%;
  heigth: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cards .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.cards:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.cards .info h1 {
  margin: 0;
}

.cards .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.cards .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.cards .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
