.btndoar {
  background: #66cdaa;
  color: white;
}
.planodefundo {
  background: #66cdaa;
  height: auto;
  width: 100%;
  padding: 80px 0px;
  text-align: center;
}
h1 {
  font-family: fantasy;
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
.porquerdoar {
  color: black;
}
h5 {
  font-size: 25px;
  color: #808080;
}
footer {
  position: static;
  background: #2f4f4f;
  height: auto;
  width: 100%;
  font-family: Times new romas;
  padding-top: 40px;
  color: #66cdaa;
}
.footer-content {
  display: flex;
  align-items: center;
  justicify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 25px;
}
.socials a i {
  color: #66cdaa;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}
.socials a:hover i {
  color: black;
}
.footer-bottom {
  background: #5f9ea0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
