.btndoar {
  display: block;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btndoar:hover {
  background-position: right;
}
.pixcard {
  display: block;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.pixcard:hover {
  background-position: right;
}
.planodefundo {
  background: #66cdaa;
  height: auto;
  width: 100%;
  padding: 80px 0px;
  text-align: center;
}
.porquerdoar {
  color: black;
}

.planodefundo {
  background: #66cdaa;
  height: auto;
  width: 100%;
  padding: 80px 0px;
  text-align: center;
}
h1 {
  font-family: "Quicksand", sans-serif;
  color: white;
}
h2 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
h4 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
}
.porquerdoar {
  color: black;
  font-family: "Quicksand", sans-serif;
}

footer {
  position: static;
  background: #2f4f4f;
  height: auto;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  padding-top: 40px;
  color: #66cdaa;
}
.footer-content {
  display: flex;
  align-items: center;
  justicify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justicify-content:center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 30px;
}
.socials a i {
  color: #66cdaa;
  font-size: 1.8rem;
  transition: color 0.2s ease;
}
.socials a:hover i {
  color: black;
}
.footer-bottom {
  background: #5f9ea0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.dif {
  font-family: "Quicksand", sans-serif;
  font-size: 2.0rem;
}
