{% extends 'base.html' %}

{% block titulo %}Agradecimentos{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/agradecimento.css">{% endblock %}

{% block conteudo %}

<div class="campanha-bg-image"></div>

  <div class="campanha-bg-text">
    <h1>Agradecemos sua contribuição!</h1>
    <p>Você também pode nos ajudar compartilhando nossas campanhas nas redes sociais e até mesmo criando sua própria campanha! Aqui, trabalhamos com determinação e, acima de tudo, esperança!</p>
    <p>Nosso planeta merece ter voz. Ele precisa de soluções. Precisa de você!</p>
  </div>

  <br>
  <div align="center" class="container">
    <div class="row">
      <h3>Sobre Nós</h3><br><br><br>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="../../campanhas/static_cam/campanhas/img/agr_1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">EcoOng é uma organização sem fins lucrativos. Visamos garantir um meio ambiente ecologicamente equilibrado para a presente e futuras gerações, garantindo a perpetuidade da vida.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="../../campanhas/static_cam/campanhas/img/agr_2.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">Por meio de nossas Ações, buscamos preparar o caminho para um mundo mais verde e pacífico e para podermos juntos, enfrentar os problemas que ameaçam a vida em nosso planeta.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="../../campanhas/static_cam/campanhas/img/agr_3.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">A conservação ambiental defende o desenvolvimento sustentável da humanidade. Podemos garantir uma melhor qualidade de vida priorizando o uso racional dos recursos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="p text-center">
    <h3>Nossa Equipe!</h3>
  </div><br>
  <div class="container">
    <div class="row g-0 bg-light position-relative my-3 bordas-arredondadas">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../../campanhas/static_cam/campanhas/img/agr_4.jfif" class="w-100" alt="...">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Front-end</h5>
        <p>Nossa equipe do Front-end é composta pelos alunos Angela Santiago, Matheus Monteiro e Maria Eduarda Victorino que trabalharam na montagem de todas as páginas do site.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row g-0 bg-light position-relative my-3 bordas-arredondadas">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="../../campanhas/static_cam/campanhas/img/agr_5.jfif" class="w-100" alt="...">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Back-end</h5>
        <p>Nossa equipe do Back-end é composta pelas alunas Cristina Araújo e Letícia Rosemberg que trabalharam na modularização do projeto, criação do banco de dados, perfil do usuário, etc...</p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <h3>EcoOng</h3>
      <p>Somos uma ONG que busca ajudar a preservar o Meio Ambiente!<br>
        Nos encontre também nas redes sociais:</p>
      <ul class="socials">
        <li><a href="https://instagram.com/eco.ong?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/eco_ong2?t=S38nC3Frb7m2zhYAbASpJA&s=09"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/leticiarosemberg/EcoOng"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2021 EcoOng.</span>
    </div>
  </footer>
</body>



{% endblock %}