{% extends 'base.html' %}

{% block titulo %}Cadastrar Campanha{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_cam/campanhas/css/cadastrar_campanhas.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO DE CADASTRO-->
{% from "_formhelpers.html" import render_field %}
<form class="cad" action="{{url_for('campanhas.cadastrar_cam')}}" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Cadastrar Campanhas</h2>
                {{form.csrf_token}}
                {{ render_field(form.autor, class_="field") }}
                {{ render_field(form.titulo, class_="field", placeholder="Título") }}
                {{ render_field(form.descricao, class_="field", placeholder="Descrição da campanha") }}
                {{ render_field(form.imagem, class_="field") }}
                <input class="env" id="enviar" type="submit" value="Cadastrar">
            </div>
        </div>
    </div>
</form>

{% endblock %}