{% extends 'base_rodape.html' %}

{% block titulo %}Campanhas{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/campanha.css">{% endblock %}

{% block conteudo %}

<!--CARTÃO FINALIDADE DAS CAMPANHAS-->
  <p>
  <div class="campanha-bg-image"></div>

    <div class="campanha-bg-text">
      <h1>Por quê é tão importante cuidar do Meio Ambiente?</h1>
      <p>Todos nós já fizemos essa pergunta e a EcoOng preza por levar conhecimento sobre esse assunto tão sério, a quem quer que seja!</p>
      <p>A preservação do meio ambiente é fundamental pra saúde do planeta em que vivemos e inclusive a nossa, não é raro vermos danos gigantescos causados nos rios, florestas, cidades, em nosso bairro e até na nossa própria casa... Coisas que para nós parecem simples e nem imaginamos o perigo que pode acontecer, mas com mudanças, por menores que sejam, nossas atitudes fazem a diferença!</p>
      <p>Esse é o principal objetivo das nossas campanhas, denunciar tudo o que acontece de ruim atualmente e junto com você dar voz e vez ao chamado do meio ambiente! A sua contribuição vai diretamente pra causa escolhida, e essa é a nossa principal missão!</p>
    </div>
  <br><br><br>

<!--CAMPANHAS-->
  <div align="center" class="container">
    <div class="row">
    {% for campanha in campanhas %}
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="cards">
            <img height="300" src="/campanhas/imagem/{{campanha.img_cam}}">
            <div class="info">
              <h3 class="titulo">{{campanha.titulo}}</h3>
              <p>{{campanha.descricao[:95] + "..."}}</p>
              <a type="button" class="btn" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}" role="button">Veja Mais</a>
            </div>
          </div>
        </div>
        </p>
        <br><br><br>
      </div>
   {% endfor %}
    </div>
  </div></p>

  <!-- BOTÃO PARA CADASTRAR UMA NOVA CAMPANHA -->
  {% if current_user.is_authenticated %}
    <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('campanhas.cadastrar_cam')}}" role="button">Cadastrar Campanha</a>
    <br><br>
  {% endif %}

{% endblock %}