{% extends 'base_rodape.html' %}

{% block titulo %}Campanhas{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/campanha.css">{% endblock %}

{% block conteudo %}

<!--CARTÃO FINALIDADE DAS CAMPANHAS-->
  <p>
  <div class="campanha-bg-image"></div>

    <div class="campanha-bg-text">
      <h1>Envolva-se com a EcoOng!</h1>
      <p>Somos uma organização sem fins lucrativos que visa garantir um meio ambiente ecologicamente equilibrado para a presente e futuras gerações, garantindo assim, a perpetuidade da vida.</p>
      <p>Por meio de nossas Ações, buscamos preparar o caminho para um mundo mais verde e pacífico para que possamos juntos, enfrentar os problemas que ameaçam a vida em nosso planeta.</p>
    </div>
  <br><br>

<!--CAMPANHAS-->
  <h1>Nossas Ações</h1>
  <br><br>
  <div align="center" class="container">
    <div class="row">
    {% for campanha in campanhas %}
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="cards">
            <img height="300" src="/campanhas/imagem/{{campanha.img_cam}}">
            <div class="info">
              <h3 class="titulo">{{campanha.titulo}}</h3>
              <p>{{campanha.descricao[:95] + "..."}}</p>
              <a type="button" class="btn" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}" role="button">Veja Mais</a>
            </div>
          </div>
        </div>
        </p>
        <br><br><br>
      </div>
   {% endfor %}
    </div>
  </div></p>

  <!-- BOTÃO PARA CADASTRAR UMA NOVA CAMPANHA -->
  {% if current_user.is_authenticated %}
    <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('campanhas.cadastrar_cam')}}" role="button">Cadastrar Campanha</a>
    <br><br>
  {% endif %}

{% endblock %}