{% extends 'base.html' %}

{% block titulo %}Doe com cartão{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/doacoes.css">{% endblock %}

{% block conteudo %}
<body>
<div class="planodefundo">
  <h1>FAÇA SUA DOAÇÃO</h1>
  <h4>Nos ajude a cuidar do Meio Ambiente!</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center my-5">
        <div class="col-sm-12 col-md-10 col-lg-8 formulario ">
          <form action="{{url_for('campanhas.agradecimento_page')}}">
            <div class="form-row row">
              <div class="form-group col-sm-6">
                <label for="inputid_membro" class="form-label mt-2">Nome do Titular</label>
                <input type="text" class="form-control" placeholder="Nome completo" name="id_membro" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputCPF" class="form-label mt-2">CPF:</label>
                <input type="text" class="form-control" placeholder="000.000.000-00" name="CPF" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputBandeira" class="form-label mt-2">Bandeira do Cartão</label>
                <input type="text" class="form-control" placeholder="Ex: Visa, MasterCard, etc.." name="bandeira" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputConta" class="form-label mt-2">Número do Cartão</label>
                <input type="text" class="form-control" placeholder="0000 0000 0000 0000" name="numero" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputBanco" class="form-label mt-2">Banco</label>
                <input type="text" class="form-control" placeholder="Ex: Bradesco..." name="banco" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputVencimento" class="form-label mt-2">Vencimento</label>
                <input type="text" class="form-control" placeholder="Ex: 05/21" name="vencimento" required>
              </div>
              <div class="form-check px-5 pt-2 mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                  Eu li e concordo com o <a href="#" data-bs-toggle="modal" data-bs-target="#Termo">termo</a> de responsabilidade.
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <!-- Modal -->
              <div class="modal fade" id="Termo" tabindex="-1" aria-labelledby="TermoDeResponsabilidade" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TermoDeResponsabilidade">Termo de Responsabilidade</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Ao clicar em aceitar o Termo de Responsabilidade, o usuário declara estar ciente, através destes, que a falsidade das informações configura crime previsto no Código Penal Brasileiro, passível de apuração na forma da Lei, bem como pode ser enquadrada como Litigância de Má Fé.
                    </div>
                  </div>
                </div>
              </div>
              </label>
            </div>
            <br>
            <div class="form-group col-12 text-center d-flex justify-content-center">
              <button type="submit" class="btndoar">DOAR</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>



{% endblock %}
