{% extends 'base.html' %}

{% block titulo %}Doe com Pix{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/doacoes.css">{% endblock %}

{% block conteudo %}
<body>
<br><br>
<div align="center" class="container">
  <div class="row">
    <div class="col">
      <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
          <div class="card h-100">
            <br>
            <h5 class="card-title"><b>Use o QR Code da EcoPix para pagar!</b></h5>
            <p class="card-text">Abra o app em que vai fazer a transferência, escaneie a imagem ou cole o código do QR Code</p>
            <img src="/static_cam/campanhas/img/qr_code.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Ou use a chave Pix</b></h5>
              <hr>
              <p class="card-text"><b>Chave Pix:</b> de647118-1f92-4e4e-b733-f5ac9d90ea2b</p>
              <p class="card-text"><b>Nome:</b> EcoOng</p>
              <p class="card-text"><b>Email:</b> ecoong2@gmail.com</p>
              <p class="card-text"><b>CPF:</b> •••.000.000-••</p>
              <p class="card-text"><b>Banco:</b> 260 - Nu Pagamentos S.A. - Instituição de Pagamento</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br>

{% endblock %}