{% extends 'base.html' %}

{% block titulo %}Doações{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/doacoes.css">{% endblock %}

{% block conteudo %}
<div class="planodefundo">
        <h1>FAÇA UMA DOAÇÃO</h1>
        <h4>Nos ajude a cuidar do Meio Ambiente!</h4>
      </div>
</p>
<section class="shortcuts">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/10/25/19/45/piggy-bank-2889042_960_720.jpg">
                        <div class="card-body text-center">
                          <h2>Doações</h2>
                            <p class="card-text" data-search>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/10/25/19/45/piggy-bank-2889042_960_720.jpg">
                        <div class="card-body text-center">
                            <h2>Seja um parceiro</h2>
                            <p class="card-text" data-search>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/10/25/19/45/piggy-bank-2889042_960_720.jpg">
                        <div class="card-body text-center">
                            <h2>Brinde social</h2>
                            <p class="card-text" data-search>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br><br><br><br>
<div class="container vertical-center">
<div class="col-md-10 order-md-4">
          <h2 class="mb-3 text-dark">Preencha seus dados</h2>
  <hr class="mb-4">
          <form action="{{url_for('campanhas.agradecimento_page')}}" class="needs-validation" novalidate>
            <h3 class="mb-3">Dados de Pagamento</h3>
            <div class="col-md-3 mb-3">
                <label for="cpf">CPF*</label>
                <input type="text" class="form-control" id="cpf" placeholder="" required>
                <div class="invalid-feedback">
                  É obrigatório inserir o CPF.
                </div>
              </div>

          <div class="col-md-4 mb-3">
                <label for="bandeira">Bandeira do Cartão*</label>
                <select class="custom-select form-control" id="bandeira" required>
                  <option value="">Selecione...</option>
                  <option>Mastercard</option>
                  <option>Visa</option>
                  <option>Hipercard</option>
                  <option>Elo</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, escolha uma bandeira válida.
                </div>
            </div>

           <div class="col-md-6 mb-3">
                <label for="cc-numero">Número do cartão de crédito*</label>
                <input type="text" class="form-control" id="cc-numero" placeholder="" required>
                <div class="invalid-feedback">
                  O número do cartão de crédito é obrigatório.
                </div>
              </div>

             <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Código de segurança é obrigatório.
                </div>
              </div>

            <div class="col-md-3 mb-3">
                <label for="cc-expiracao">Data de expiração*</label>
                <input type="text" class="form-control" id="cc-expiracao" placeholder="Ex.: 05/29" required>
                <div class="invalid-feedback">
                  Data de expiração é obrigatória.
                </div>
              </div>

            <hr class="mb-4">
            <h3 class="mb-3">Endereço para cobrança</h3>
             <div class="col-md-3 mb-3">
                <label for="cep">CEP*</label>
                <input type="text" class="form-control" id="cep" placeholder="" required>
                <div class="invalid-feedback">
                  É obrigatório inserir um CEP.
                </div>
              </div>

            <div class="mb-3">
              <label for="rua">Rua*</label>
              <input type="text" class="form-control" id="rua" placeholder="Rua dos bobos" required>
              <div class="invalid-feedback">
                Por favor, insira sua rua.
              </div>
            </div>

            <div class="mb-3">
              <label for="rua">Número*</label>
              <input type="text" class="form-control" id="numero" placeholder="123" required>
              <div class="invalid-feedback">
                Por favor, insira o número.
              </div>
            </div>

           <div class="mb-3">
              <label for="bairro">Bairro*</label>
              <input type="text" class="form-control" id="bairro" placeholder="Bairro dona lurdes" required>
              <div class="invalid-feedback">
                Por favor, insira seu bairro.
              </div>
            </div>

           <div class="col-md-3 mb-3">
                <label for="cep">Cidade*</label>
                <input type="text" class="form-control" id="cidade" placeholder="" required>
                <div class="invalid-feedback">
                  É obrigatório inserir uma cidade.
                </div>
              </div>

            <div class="col-md-4 mb-3">
                <label for="estado">Estado*</label>
                <select class="custom-select form-control" id="estado" required>
                  <option value="">Selecione...</option>
                  <option>CE</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, insira um estado válido.
                </div>
              </div>
<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>

<label class="form-check-label" for="flexCheckDefault">
                    Eu li e concordo com o <a href="#" data-bs-toggle="modal" data-bs-target="#Termo">termo</a> de responsabilidade
                </div>
              </div>
          </div>

          <!-- Modal -->
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="modal fade" id="Termo" tabindex="-1" aria-labelledby="TermoDeResponsabilidade" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="TermoDeResponsabilidade">Termo de Responsabilidade</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Ao clicar em aceitar o termo de responsabilidade, o usuário declara estar ciente através destes que a falsidade das informações configura crime previsto no Código Penal Brasileiro, passível de apuração na forma da Lei bem como pode ser enquadrada como Litigância de Má Fé.
                      </div>
                    </div>
                  </div>
                </div>
                </label>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Doar</button>
            </div>
          </form>
        </div>
      </div


{% endblock %}
