{% extends 'base.html' %}

{% block titulo %}Detalhe da Campanha{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_cam/campanhas/css/detalhes_campanhas.css">{% endblock %}

{% block cssProprio %}
body{
  background-image: url("http://matheusx4.pythonanywhere.com/campanhas/imagem/{{campanha.img_cam}}");
}
{% endblock %}

{% block conteudo %}

  <div class="container">
    <div class="row">
      <div class="card-news">
        <div class="col p-4 ps-md-6">
          <h3>{{campanha.titulo}}</h3>
          <p>{{campanha.descricao}}</p>
             <a type="button" class="btn" href="{{url_for('campanhas.doacao_page')}}" role="button">Doar</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
