{% extends 'base.html' %}

{% block titulo %}Doações{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/doacoes.css">{% endblock %}

{% block conteudo %}

      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-success">Doar</h1>
      <p class="fs-5 text-muted">Nos ajude a cuidar do Meio Ambiente!</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">R$ 10,00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <a href="{{url_for('campanhas.dadosdoacaocard_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doe com cartão</a>
            <a href="{{url_for('campanhas.dadosdoacaopix_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doar via Pix</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">R$ 30,00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <a href="{{url_for('campanhas.dadosdoacaocard_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doe com cartão</a>
            <a href="{{url_for('campanhas.dadosdoacaopix_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doar via Pix</a>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-success">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light">R$ 50,00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <a href="{{url_for('campanhas.dadosdoacaocard_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doe com cartão</a>
            <a href="{{url_for('campanhas.dadosdoacaopix_page')}}" class="w-100 btn btn-primary btn-lg active" role="button" aria-pressed="true">Doar via Pix</a>
          </div>
        </div>
      </div>
    </div>
  </main>

        <div class="row g-0 bg-light position-relative my-3 rounded">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="https://cdn.pixabay.com/photo/2019/09/21/06/55/rare-blue-macaw-4493172_960_720.jpg" class="w-100 rounded" alt="...">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Porque sua ajuda é tão importante?</h5>
            <p>Nós da EcoOng além de cuidar e preservar o nosso Meio Ambiente, acolhemos diversas causas diferentes. Dando vozes diferentes e também tornando possível melhorias, com você! Cuide, preserve e nos ajude para vivermos em um mundo melhor.</p>
          </div>
        </div>

    <footer>
    <div class="footer-content">
      <h3>EcoOng</h3>
      <p>Somos uma ONG que busca ajudar a preservar o Meio Ambiente!<br>
        Nos encontre também nas redes sociais:</p>
      <ul class="socials">
        <li><a href="https://instagram.com/eco.ong?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/eco_ong2?t=S38nC3Frb7m2zhYAbASpJA&s=09"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/leticiarosemberg/EcoOng"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2021 EcoOng.</span>
    </div>
  </footer>

{% endblock %}
