{% extends 'base.html' %}

{% block titulo %}Editar Campanha{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_cam/campanhas/css/edit_cam.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO DE EDIÇÃO-->
{% from "_formhelpers.html" import render_field %}
<form class="cad" action="{{url_for('campanhas.editar_cam', id=campanha.id)}}" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Editar Campanhas</h2>
                {{form.csrf_token}}
                {{ render_field(form.autor, class_="field") }}
                {{ render_field(form.titulo, class_="field") }}
                {{ render_field(form.descricao, class_="field") }}
                {{ render_field(form.imagem, class_="field") }}
                <input class="env" id="" type="submit" value="Editar"><br>
            </div>
        </div>
    </div>
</form>

{% endblock %}