{% extends 'base.html' %}

{% block titulo %}Resultado da Busca{% endblock %}

{% block css %}<link rel="stylesheet" href="static_cam/campanhas/css/exibir_campanhas_buscada.css">{% endblock %}

{% block busca %}
{% from "_formhelpers.html" import render_field %}
<form action="{{url_for('campanhas.buscar_cam')}}" method="POST" class="d-flex">
    {{form.csrf_token}}
    {{ render_field(form.busca, class_="form-control me-2", placeholder="Digite aqui!") }}
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
</form>
{% endblock %}

{% block conteudo %}

<!-- CAMPANHAS -->
<div class="container"><br><br>
  <h1 align="center">Campanhas</h1><br>
  <div class="row">
    {% for campanha in campanhas %}
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card mb-3">
        <a href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}"><img class="card-img-top" height="200" width="200" src='/campanhas/imagem/{{campanha.img_cam}}'></a>
        <div class="card-body">
          <a style="text-decoration:none;color:black;" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}">
            <h5 class="card-title">{{campanha.titulo}}</h5>
          </a>
          <a style="text-decoration:none;color:black;" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}">
            <p class="card-text">{{campanha.descricao[:95] + "..."}}</p>
          </a><br>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}