<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>{% block titulo %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="icon" href="/static/imgs/site.ico">
  <link rel="stylesheet" href="/static/css/rodape.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  {% block css %}{% endblock %}

</head>

<body>
  <!-- BARRA DE NAVEGAÇÃO -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:#2F4F4F; font-family: Cooper Black" href="{{url_for('root')}}">EcoOng</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('noticias.noticias_page')}}">Notícias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('campanhas.campanha_page')}}">Ações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('campanhas.doacao_page')}}">Doe Aqui!</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('membros.perfil_page')}}">Meu Perfil</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.cadastro_page')}}">Junte-se a Nós!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.login_page')}}">Entrar</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="Pesquisar" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- MENSAGENS FLASH -->
  {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <div class="alert alert-success text-center" role="alert">
        {% for mensagem in mensagens %}
          <h2>{{mensagem}}</h2>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% block conteudo %}{% endblock %}

  <!-- RODAPÉ -->
  <footer>
    <div class="footer-content">
      <h3> EcoOng</h3>
      <p>Somos uma ONG que busca ajudar a preservar o Meio Ambiente! <br>Nos encontre também nas redes sociais:</p>
      <ul class="socials" align="center">
        <li><a href="https://instagram.com/eco.ong?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/eco_ong2?t=S38nC3Frb7m2zhYAbASpJA&s=09"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/leticiarosemberg/EcoOng"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p><span>copyright &copy;2021 EcoOng.</span></p>
    </div>
  </footer>

  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>