{% extends 'base_rodape.html' %}

{% block titulo %}EcoOng{% endblock %}

{% block css %}<link rel="stylesheet" href="/static/css/landing.css">{% endblock %}

{% block conteudo %}

 <!-- CARROSEL -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="500" src="/static/imgs/img_home_carousel_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="500" src="/static/imgs/img_home_carousel_2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="500" src="/static/imgs/img_home_carousel_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- CARD 1 -->
  <div align="center" class="container">
    <div class="row">
      <div class="col">
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 align="left" class="featurette-heading">Quem somos ?</h2>
            <p align="left" class="lead">Somos uma organização não governamental(ONG) de direito privado e sem fins lucrativos, cujo programa visa garantir um meio ambiente ecologicamente equilibrado para a presente e futuras gerações, garantindo assim, a perpetuidade  da vida na face do planeta.</p>
          </div>
          <div class="col-md-5">
            <a href="https://getbootstrap.com/docs/5.0/components/buttons/"><img class="featurette-image img-fluid mx-auto" width="400" src="/static/imgs/img_home_quem_somos.jpg" alt="..."></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <!-- INFORMÇÃO -->
  <div align="center" class="container">
    <div class="row">
      <div class="col">
        <div class="texto">
        <h2 align="left"> Por que preservar o meio ambiente?</h2>
        <p align="left">A Preservação do meio ambiente é um ato muito importante não só para a humanidade, mas para todos os seres que habitam na terra. É dela que vem os recursos naturais para nossa sobrevivência, como a água, alimentos e máterias-primas. Sem a preservação desses recursos, todas as formas de vida do planeta poderão se acabar.</p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <!-- IMAGENS -->
   <div align="center" class="container">
    <div class="row">
      <div class="coll">
        <div class="box">
          <img src="/static/imgs/img_home_tigre_1.jpg">
        </div>
        <div class="box">
          <img src="/static/imgs/img_home_golfinho_2.jpg">
        </div>
        <div class="box">
          <img src="/static/imgs/img_home_arara_3.jpg">
        </div>
        <div class="box">
          <img src="/static/imgs/img_home_cobra_4.jpg">
        </div>
      </div>
    </div>
    <hr>
  </div>

  <!-- NOTICIAS -->
  <div align="center" class="container">
    <div class="row">
      <div class="col">
        <div class="notcam">
          <h1>Notícias</h1><br></div>
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="{{url_for('noticias.detalhe_not_page')}}"><img src="/static/imgs/img_home_noticias_1.jpg" class="img-fluid rounded-start" alt="..."></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><h5 align="left" class="card-title">Desmatamento na Amazônia em agosto é o maior para o mês em dez anos, diz Imazon</h5>
                <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><p align="left" class="card-text">Segundo o relatório, área desmatada em agosto de 2021 é 7% maior do que a registrada no mesmo mês em 2020. Acumulado desde janeiro também ficou como o pior em 10 anos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="{{url_for('noticias.detalhe_not_page')}}"><img src="/static/imgs/img_home_noticias_2.jpg" class="img-fluid rounded-start" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><h5 align="left" class="card-title">Flagrados com 229 filhotes de papagaios e araras no carro, casal é preso e multado em R$ 2,519 milhões</h5>
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><p align="left" class="card-text">Flagrante ocorreu na manhã desta segunda-feira (20), na BR-487, em Naviraí. As aves foram levadas para o CRAS da fazenda Green Farm.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="{{url_for('noticias.detalhe_not_page')}}"><img src="/static/imgs/img_home_noticias_3.jpg" class="img-fluid rounded-start" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><h5 align="left" class="card-title">SP: fumaça de queimadas tem potencial cancerígeno, diz estudo</h5>
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><p align="left" class="card-text">Pesquisa em Ribeirão Preto, no interior de São Paulo, apontou elevada concentração de compostos que causam morte de células.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="{{url_for('noticias.detalhe_not_page')}}"><img src="/static/imgs/img_home_noticias_4.jpg" class="img-fluid rounded-start" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><h5 align="left" class="card-title">Cientistas da UFU ajudam a avaliar riscos de extinção de espécies na Bacia do Rio Doce</h5>
                  <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page')}}"><p align="left" class="card-text">Estudos feitos após rompimento de barragem em Mariana resultou em livro.</p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('noticias.noticias_page')}}" role="button">Veja mais</a>
    <hr>
  </div>

  <!-- INFORMÇÃO -->
    <div align="center" class="container">
    <div class="row">
      <div class="col">
        <div class="texto">
        <h2  align="left">Poluição Atmosférica</h2><p align="left"> A poluição atmosférica que também é chamada por poluição do ar, acontece quando a emissão de substâncias na atmosfera muda a composição do ar, provocando desequilíbrios ambientais e causando prejuízos à saúde dos seres vivos. Uma das suas principais causas é a queima de combustíveis fósseis, como o carvão e o petróleo. Essa poluição contribui para o agravamento do efeito estufa e do aquecimento global.
        </p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <!-- CAMPANHAS -->

  <div align="center" class="container">
   <div class="notcam">
     <h1>Nossas Campanhas</h1><br></div>
    <div class="row">
    {% for campanha in campanhas[:3] %}
      <div class="col">
        <div class="wrapper">
          <div class="cards">
            <img height="360" src="/campanhas/imagem/{{campanha.img_cam}}">
            <div class="info">
              <h3>{{campanha.titulo}}</h3>
              <p>{{campanha.descricao[:95] + "..."}}</p>
              <a type="button" class="btn" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}" role="button">Veja Mais</a>
            </div>
          </div>
        </div></br>
      </div>
    {% endfor %}
    </div>
    <br><br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('campanhas.campanha_page')}}" role="button">Veja mais</a>
    <hr>
  </div>

    <!-- ULTIMO CARD -->
  <div align="center" class="container">
    <div class="row">
      <div class="notcam">
        <h2>Principais animais da fauna ameaçada de extinção</h2></div><br><br><br>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="/static/imgs/img_home_ultimo_card_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">O Serviço de Pesca e Vida Selvagem dos EUA (FWS) anunciou em um comunicado à imprensa que a população de raposas em Sierra Nevada, que consiste apenas de 18 a 39 indivíduos, receberá proteção sob a Lei de Espécies Ameaçadas.
            </p>
          </div>
        </div></br>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="/static/imgs/img_home_ultimo_card_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">Atualmente, a ariranha está classificada como "em perigo" na Lista Vermelha de Espécies Ameaçadas da União Internacional Para Conservação da Natureza e dos Recursos Naturais (IUCN). Isso significa que a espécie apresenta um alto risco de extinção.
            </p>
          </div>
        </div></br>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img height="200" width="200" src="../static/imgs/img_home_araraazul_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p align="left" class="card-text">As araras-azuis são animais que se destacam pela beleza, tamanho e comportamento. Essa ave está atualmente ameaçada de extinção devido à caça, ao comércio clandestino e à degradação em seu habitat natural por conta do desmatamento.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

{% endblock %}
