body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1c1c1c;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box h1 {
  color: white;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="number"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 128, 128);
  padding: 10px 5px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2eec71;
  padding: 10px 20px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
  background: #2eec71;
}
