body {
  margin: 0;
  padding: 0;
  font-family: Times New Roman;
  background: url("https://c.wallhere.com/photos/00/5c/landscape_trees_path_forest-283484.jpg!d");
  background-repeat: no-repeat;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 40px;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

#email, #senha, #nome, #idade, #tel {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 128, 128);
  padding: 10px 5px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
}

#enviar {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2eec71;
  padding: 10px 20px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
  background: #2eec71;
}