{% extends 'base.html' %}

{% block titulo %}Cadastro{% endblock %}

{% block css %}<link rel="stylesheet" href="static_auth/auth/css/cad_log.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO  DE CADASTRO-->

  <form class="box" action="{{url_for('auth.cadastro_page')}}" method="post">
    <h1>Cadastro</h1>
    <input id="nome" type="text" name="nome" placeholder="Nome" required>
    <input id="email" type="email" name="email" placeholder="Email" required>
    <input id="senha" type="password" name="senha" placeholder="Senha" required>
    <input id="tel" type="text" name="tel" placeholder="Telefone" required>
    <input id="idade" type="number" name="idade" placeholder="Idade" required>
    <a style="color: white" href="{{url_for('auth.login_page')}}">Já tem cadastro? Faça login aqui!</a>
    <input id="enviar" type="submit" placeholder="Cadastrar">
  </form>

{% endblock %}
