{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block css %}<link rel="stylesheet" href="static_auth/auth/css/cad_log.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO  DE LOGIN-->

  <form class="box" action="{{url_for('auth.login_page')}}" method="post">
    <h1>Login</h1>
    <input id="email" type="email" name="email" placeholder="Email">
    <input id="senha" type="password" name="senha" placeholder="Senha">
    <a style="color: white" href="{{url_for('auth.cadastro_page')}}">Cadastre-se aqui!</a>
    <input id="enviar" type="submit" placeholder="Entrar">
  </form>

{% endblock %}
