{% extends 'base.html' %}

{% block titulo %}Editar Perfil{% endblock %}

{% block css %}<link rel="stylesheet" href="static_mem/membros/css/perfil.css">{% endblock %}

{% block conteudo %}

  <!-- PERFIL DO USUÁRIO -->
  <form class="box" action="{{url_for('membros.atualizar_page')}}" method="post">
    <section class="user-profile">
      <div class="header">
        <div class="cover">
          <div class="perfil-usuario-avatar">
            <img src="http://www.coopernortetelecom.com.br/assets/images/author-1.png" alt="img-avatar">
          </div>
        </div>
      </div>
      </div>
      <div class="user-profile-body">
        <div class="user-profile-bio">
          <ul align="left" class="data-list">
            <div class="mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input type="text" class="form-control" name="nv_nome" placeholder="Nome" value="{{current_user.nome}}">
            </div>
          </ul>
        </div>
        <div class="user-profile-footer">
          <ul class="data-list">
            <form class="box" action="{{url_for('membros.atualizar_page')}}" method="post">
              <div class="mb-3">
                <label for="emaill" class="form-label">Emaill:</label>
                <input type="email" class="form-control" name="nv_email" placeholder="Email" value="{{current_user.email}}">
                <div class="mb-3">
                  <label for="telefone" class="form-label">Telefone:</label>
                  <input type="text" class="form-control" name="nv_tel" placeholder="Telefone" value="{{current_user.telefone}}">
                </div>
                <div class="mb-3">
                  <label for="idade" class="form-label">Idade:</label>
                  <input type="number" class="form-control" name="nv_idade" placeholder="Idade" value="{{current_user.idade}}">
                </div>
                <div class="mb-3 form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                  <label class="form-check-label" for="flexCheckDefault">
                    <label class="form-check-label" for="exampleCheck1">Tem certeza que deseja fazer essas alterações ?</label>
                </div>
                <button type="submit" value="Atualizar" class="btn btn-outline-dark" class="btn btn-primary">Atualizar</button>
            </form>
          </ul>
        </div><br><br><br>
    </section>

{% endblock %}
