{% extends 'base.html' %}

{% block titulo %}Historico{% endblock %}

{% block css %}<link rel="stylesheet" href="static_mem/membros/css/historico.css">{% endblock %}

{% block conteudo %}

<!-- NOTICIAS-->
<div class="container"><br><br>
    <h1 class="notcam" align="center">Meu Historico</h1><br>
    <hr>
    <h4 align="center">Minhas Noticias</h4>
    <br>
    <div class="d-grid gap-2 d-md-block">
        <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('noticias.cadastrar_not')}}" role="button">Cadastrar Notícia</a>
    </div>
    <br>
    <div class="row">
        {% for noticia in noticias %}
        {% if current_user.id == noticia.membro_id %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="card mb-3">
                <a href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src='/noticias/imagem/{{noticia.img_not}}'></a>
                <div class="card-body">
                    <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
                        <h5 class="card-title">{{noticia.titulo}}</h5>
                    </a>
                    <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
                        <p class="card-text">{{noticia.descricao[:95] + "..."}}</p>
                    </a><br>
                    <p class="card-text"><small class="text-muted">{{noticia.data}} - {{noticia.autor}}</small></p>
                </div>

                <div align="center" class="d-grid gap-2 d-md-block">
                    <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('noticias.editar_not', id=noticia.id)}}" role="button">Editar</a>

                    <!-- Button trigger modal -->
                    <button align="center" type="button" class="btn btn-outline-danger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removerNoticia{{noticia.id}}">Remover </button>

                    <!-- Modal -->
                    <div class="modal fade" id="removerNoticia{{noticia.id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Remover Notícia</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja remover a notícia "{{noticia.titulo}}" ?
                                    Ela será apagada definitivamente...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Não</button>
                                    <a type="button" class="btn btn-outline-danger" href="{{url_for('noticias.remover_not', id=noticia.id)}}">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<br><br><br>

<!-- Campanhas-->
  <div class="container"><br><br>
    <hr>
    <h4 align="center">Minhas Campanhas</h3>
    <br>
    <div class="d-grid gap-2 d-md-block">
        <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('campanhas.cadastrar_cam')}}" role="button">Cadastrar Campanha</a>
    </div>
    <br>
    <div class="row">
        {% for campanha in campanhas %}
        {% if current_user.id == campanha.membro_id %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="card mb-3">
                <a href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}"><img class="card-img-top" height="200" width="200" src='/campanhas/imagem/{{campanha.img_cam}}'></a>
                <div class="card-body">
                    <a style="text-decoration:none;color:black;" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}">
                        <h5 class="card-title">{{campanha.titulo}}</h5>
                    </a>
                    <a style="text-decoration:none;color:black;" href="{{url_for('campanhas.detalhe_cam_page', id=campanha.id)}}">
                        <p class="card-text">{{campanha.descricao[:95] + "..."}}</p>
                    </a><br>
                </div>

                <div align="center" class="d-grid gap-2 d-md-block">
                    <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('campanhas.editar_cam', id=campanha.id)}}" role="button">Editar</a>


                    <!-- Button trigger modal -->
                    <button align="center" type="button" class="btn btn-outline-danger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removerCampanha{{campanha.id}}">Remover </button>

                    <!-- Modal -->
                    <div class="modal fade" id="removerCampanha{{campanha.id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Remover Notícia</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja remover a notícia "{{campanha.titulo}}" ?
                                    Ela será apagada definitivamente...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Não</button>
                                    <a type="button" class="btn btn-outline-danger" href="{{url_for('campanhas.remover_cam', id=campanha.id)}}">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    </div>



{% endblock %}