<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static_mem/membros/css/perfil.css">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <!-- BARRA DE NAVEGAÇÃO -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:#2F4F4F; font-family: Cooper Black" href="{{url_for('root')}}">EcoOng</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('noticias.noticias_page')}}">Notícias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('campanhas.campanha_page')}}">Ações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('campanhas.doacao_page')}}">Doe Aqui!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.cadastro_page')}}">Junte-se a Nós!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.login_page')}}">Entrar</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('membros.perfil_page')}}">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('auth.sair')}}">Logout</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="Pesquisar" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

  {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <div class="alert alert-success text-center" role="alert">
        {% for mensagem in mensagens %}
          <h2>{{mensagem}}</h2>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

<!-- PERFIL DO USUÁRIO -->
  <section class="user-profile">
    <div class="header">
      <div class="cover">
        <div class="perfil-usuario-avatar">
          <img src="http://www.coopernortetelecom.com.br/assets/images/author-1.png" alt="img-avatar">
        </div>
      </div>
    </div>
    </div>
    <div class="user-profile-body">
      {% if current_user.is_authenticated %}
      <div class="user-profile-bio">
        <h3 class="titulo">{{current_user.nome}}</h3>
      </div>
      <div class="user-profile-footer">
        <ul class="data-list">
          <li> Emaill: {{current_user.email}}</li>
          <li>Telefone: {{current_user.telefone}}</li>
          <li>Idade: {{current_user.idade}}</li>
        </ul>
      </div>
      {% endif %}

      <div align="center" class="d-grid gap-2 d-md-block">
        <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('membros.atualizar_page')}}" role="button">Editar Perfil</a>

      <div class="d-grid gap-2 d-md-block">
        <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('auth.sair')}}" role="button">Logout</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Remover Perfil</button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Remover Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Tem certeza que deseja remover seu perfil?
                você ira perder todos os seus dados armazenados ate o momento incluindo doações, noticias...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Não</button>
                <a type="button" class="btn btn-outline-danger" href="{{url_for('membros.remover_page')}}">Sim</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br><br><br>
  </section>
</body>

</html>