{% extends 'base.html' %}

{% block titulo %}Cadastrar Notícia{% endblock %}

{% block css %}<link rel="stylesheet" href="#">{% endblock %}

{% block conteudo %}

  <!--FORMULARIO  DE CADASTRO-->
  <form class="" action="{{url_for('noticias.cadastrar_not')}}" method="post" enctype="multipart/form-data">
    <h1>Cadastrar Noticia</h1>
    <input id="" type="text" name="titulo" placeholder="Título" required> <br>
    <input id="" type="text" name="autor" placeholder="Autor" required> <br>
    <input id="" type="text" name="data" placeholder="Data" required> <br>
    <textarea id="" name="des" rows="5" cols="50" placeholder="Descrição da noticia" required></textarea> <br>
    <input id="" type="file" name="img" required> <br> <br>
    <input id="enviar" type="submit" placeholder="Cadastrar">
  </form>

{% endblock %}
