{% extends 'base.html' %}

{% block titulo %}Cadastrar Notícia{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_not/noticias/css/cad_not.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO  DE CADASTRO-->
<form class="cad" action="{{url_for('noticias.cadastrar_not')}}" method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="contact-box">
      <div class="left"></div>
      <div class="right">
        <h2>Cadastro de Notícias</h2>
        <input class="field" id="" type="text" name="titulo" placeholder="Título" required>
        <input class="field" id="" type="text" name="autor" placeholder="Autor" required>
        <input class="field" id="" type="text" name="data" placeholder="Data" required>
        <textarea class="field" id="" name="des" rows="5" cols="50" placeholder="Descrição da noticia" required></textarea>
        <input class="field" id="" type="file" name="img" required> <br> <br>
        <input class="env" id="enviar" type="submit" value="Cadastrar">
      </div>
    </div>
  </div>
</form>

{% endblock %}
