{% extends 'base.html' %}

{% block titulo %}Detalhe da Noticia{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_not/noticias/css/detalhes_not.css">{% endblock %}

{% block conteudo %}
    <div class="planodefundo">
        <h2 class="text-light">{{noticia.titulo}}</h2>
    </div><br>

<div class="container" align="center">
  Por {{noticia.autor}},
        em {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}} —
        Categoria:
        {% for categoria in categorias %}
        {% if noticia.categoria_id == categoria.id %}
        {{categoria.categoria}}
        {% endif %}
        {% endfor %} <br>
</div>
<hr class="solid">
<div class="container" align="center">
                <div class="col-md-8">
                    <div class="card">
                        <img class="card-img-top" height="350" width="450" src="/noticias/imagem/{{noticia.img_not}}">
                        <div class="card-body" align="left">
                            <p>{{noticia.descricao}}</p>
                        </div>
                    </div>
                </div>
</div>

    <hr class="solid">
    <div class="container" align="center">
        Tags:
        {% for tag in noticia.tags %}
            {{tag.tag}},
        {% endfor %}
    </div>
    <hr class="solid">

{% endblock %}
