{% extends 'base.html' %}

{% block titulo %}Detalhe da Noticia{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_not/noticias/css/noticias.css">{% endblock %}

{% block conteudo %}
    <div class="container" align="center" >
        <h3>{{noticia.titulo}}</h3> <br>
        <img height="200" width="300" src="/noticias/imagem/{{noticia.img_not}}"> <br>
        <p>{{noticia.descricao}}</p>
        Autor: {{noticia.autor}} <br>
        Data: {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}} <br>
        Categoria:
        {% for categoria in categorias %}
        {% if noticia.categoria_id == categoria.id %}
        {{categoria.categoria}}
        {% endif %}
        {% endfor %} <br>
        Tags:
        {% for tag in noticia.tags %}
            {{tag.tag}} <br>
        {% endfor %}




        {% if current_user.is_authenticated %}
        {% if current_user.id == noticia.membro_id %}
        <div class="d-grid gap-2 d-md-block">
            <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('noticias.editar_not', id=noticia.id)}}" role="button">Editar</a>

            <!--Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#removerNoticia{{noticia.id}}">Remover </button>

            <!--Modal -->
            <div class="modal fade" id="removerNoticia{{noticia.id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Remover Notícia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja remover a notícia "{{noticia.titulo}}" ?
                            Ela será apagada definitivamente...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Não</button>
                            <a type="button" class="btn btn-outline-danger" href="{{url_for('noticias.remover_not', id=noticia.id)}}">Sim</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
