{% extends 'base.html' %}

{% block titulo %}Editar Notícia{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_not/noticias/css/edit_not.css">{% endblock %}

{% block conteudo %}

<!--FORMULARIO  DE EDIÇÃO DE NOTÍCIAS-->
{% from "_formhelpers.html" import render_field %}
<form class="cad" action="{{url_for('noticias.editar_not', id=noticia.id)}}" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Editar Notícias</h2>
                {{form.csrf_token}}
                {{ render_field(form.autor, class_="field") }}
                {{ render_field(form.titulo, class_="field", placeholder="Título") }}
                {{ render_field(form.categoria, class_="field") }}
                <div class="tag-container">
                    {{ render_field(form.hiddenTags, class_="field") }}
                    {{ render_field(form.tags) }}
                </div>
                <p>Digite uma virgula(,) após a palavra-chave.</p>
                {{ render_field(form.descricao, class_="field", placeholder="Descrição da noticia") }}
                {{ render_field(form.imagem, class_="field") }}<br> <br>
                <input class="env" id="" type="submit" value="Editar">
            </div>
        </div>
    </div>
</form>

{% endblock %}