{% extends 'base_rodape.html' %}

{% block titulo %}Notícias{% endblock %}

{% block css %}<link rel="stylesheet" href="/static_not/noticias/css/noticia.css">{% endblock %}

{% block busca %}
  <form action="{{url_for('noticias.buscar_not')}}" method="POST" class="d-flex">
    <input class="form-control me-2" type="text" name="busca" placeholder="Digite aqui!" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
  </form>
{% endblock %}

{% block conteudo %}

  <!-- PRIMEIRA PARTE DE NOTÍCIAS -->
 <div class="fonte">
  <div class="container">
    <div class="row">
      <div class="col">
      {% for noticia in cincoNoticias[:2] %}
        <hr>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <h5>{{noticia.titulo[:95]}}</h5>
        </a>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <p>{{noticia.descricao[:173] + "..."}}</p>
        </a>
        {% endfor %}
      </div>

      <div class="col">
        {% for noticia in cincoNoticias[2:3] %}
        <hr>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
        <img class="round" height="300" width="480" src="/noticias/imagem/{{noticia.img_not}}">
        </a>
        <br>
        <br>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <h5>{{noticia.titulo[:95]}}</h5>
        </a>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <p>{{noticia.descricao[:173] + "..."}}</p>
        </a>
        {% endfor %}
      </div>

      <div class="col">
        {% for noticia in cincoNoticias[3:5] %}
        <hr>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <h5>{{noticia.titulo[:95]}}</h5>
        </a>
        <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
          <p>{{noticia.descricao[:173] + "..."}}</p>
        </a>
        {% endfor %}
      </div>
    </div>
    <hr>
  </div>

  <!-- SEGUNDA PARTE DE NOTÍCIAS-->
  <div class="container">
    <div class="row">
      {% for noticia in noticias[:3] %}
      <div class="col">
        <div class="card mb-3">
          <a href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src='/noticias/imagem/{{noticia.img_not}}'></a>
          <div class="card-body">
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <h5 class="card-title">{{noticia.titulo[:60]}}</h5>
            </a>
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <p class="card-text">{{noticia.descricao[:162] + "..."}}</p>
            </a><br>
            <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for noticia in noticias[3:4] %}
      <div class="col">
        <div class="card mb-3">
          <a href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src='/noticias/imagem/{{noticia.img_not}}'></a>
          <div class="card-body">
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <h5 class="card-title">{{noticia.titulo[:95]}}</h5>
              <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
                <p class="card-text">{{noticia.descricao[:566] + "..."}}</p>
              </a><br>
              <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for noticia in noticias[4:7] %}
      <div class="col">
        <div class="card mb-3">
          <a href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src='/noticias/imagem/{{noticia.img_not}}'></a>
          <div class="card-body">
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <h5 class="card-title">{{noticia.titulo[:60]}}</h5>
            </a>
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <p class="card-text">{{noticia.descricao[:162] + "..."}}</p>
            </a><br>
            <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for noticia in noticias[7:10] %}
      <div class="col">
        <div class="card mb-3">
          <a href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src='/noticias/imagem/{{noticia.img_not}}'></a>
          <div class="card-body">
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <h5 class="card-title">{{noticia.titulo[:60]}}</h5>
            </a>
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <p class="card-text">{{noticia.descricao[:162] + "..."}}</p>
            </a><br>
            <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- TERCEIRA PARTE DE NOTÍCIAS -->
  <div class="container">
    <br><hr>
    <div class="row">
      {% for noticia in noticias[10:13] %}
      <div class="col">
        <div class="card-news">
          <div class="row g-0 bg-light position-relative">
            <div class="col p-4 ps-md-6">
              <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <p>{{noticia.titulo[:72]}}</p><br>
              </a>
              <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr><br>
  </div>

<!-- QUARTA PARTE DE NOTÍCIAS COM TABELA NOTICIAS-->
<div class="container">
  <div class="row">
    {% for noticia in noticias[13:16] %}
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card mb-3">
        <href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}"><img class="card-img-top" height="200" width="200" src="/noticias/imagem/{{noticia.img_not}}"></a>
          <div class="card-body">
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <h5 class="card-title">{{noticia.titulo[:60]}}</h5>
            </a>
            <a style="text-decoration:none;color:black;" href="{{url_for('noticias.detalhe_not_page', id=noticia.id)}}">
              <p class="card-text">{{noticia.descricao[:162] + "..."}}</p>
            </a><br>
            <p class="card-text"><small class="text-muted">{{noticia.autor}} - {{noticia.datahora.strftime('%d/%m/%Y %H:%M')}}</small></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div><br><br>


  <!-- BOTÃO PARA CADASTRAR UMA NOVA NOTICIA -->
  {% if current_user.is_authenticated %}
    <br><a type="button" class="btn btn-outline-dark" class="btn btn-primary" href="{{url_for('noticias.cadastrar_not')}}" role="button">Cadastrar Notícia</a></div>
    <br><br>
  {% endif %}

{% endblock %}