<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/site.css">

  </head>

  <body>
    <form class="box">
      <h1>Cadastro</h1>
      <input id="nome" type="text" name"nome" placeholder="Nome">
      <input id="email" type="email" name="email" placeholder="Email">
      <input id="senha" type="password" name="senha" placeholder="Senha">
      <input id="tel" type="tel" name="tel" placeholder="Telefone">
      <input id="idade" type="number" name="idade" placeholder="Idade">
      <a style="color: white" href="{{ url_for('login_page') }}">Já tem cadastro? Faça login aqui!</a>
      <input id="enviar" type="submit" placeholder="Entrar">
    </form>
  </body>

</html>